* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  background: #e5e4e2;
  line-height: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #222;
  width: 320px;
  color: white;
  padding: 40px;
  min-height: 100vh;
  position: fixed;
}

.sidebar h1, .sidebar p {
  margin: 20px 0;
}

.sidebar nav {
  margin-top: auto;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0; 
}

.content {
  flex-grow: 1;
  padding: 40px;
  max-width: 100%;
  line-height: 1.6rem;
  margin-left: 320px;
  height: 100vh;
}

.post {
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.date {
  color: gray;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.5;
}

button {
  padding: 8px 16px;
  background: black;
  color: #e5e4e2;
  border: none;
  cursor: pointer;
}

button:hover:not(:disabled) {
  background: #444;
}

textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}
